.noBorder tr {
	border: none !important; 
}

.noBorder td {
	 border-style: none !important;
}

.ui-menu li ul {
	height: auto !important;
	overflow: inherit !important;
	width: 490px !important;
}

.listbox {
	width: 565px !important;
}